<h1 style="text-align: center;">Lista de tareas</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nueva tarea" aria-label="nueva tarea" [(ngModel)]=" nombreNuevaTarea">
        <button class="btn btn-outline-secondary btn-primary" style="color: white;" id="boton" (click)=" guardarTareas()"> Agregar</button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let tarea of tareas;let i = index">
            <th scope="row">{{i + 1}}</th>
            <td class="{{(!tarea.completada ? 'tareafinalizada' : '' )}}" (click)="marcarTareaComoTerminada(i)">{{tarea.nombre}}</td>
            <td style="color: red;font-weight: bold; cursor: pointer;" (click)="eliminarTarea(i)">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>